* {
	margin: 0;
	padding: 0;
}
html {
  	background-color: #eaeaea;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#wrapper, #summary, #below-summary {
	display: inline-block;
	padding: 10px;
}
#summary ol {
	padding-left: 60px;
}
h1, h3, p, .hideme_link, .showme_link {
	margin: 10px;
	line-height: 1.4em;
}
ul {
	list-style: none;
}
nav {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background-color: #222;
	font-size: 18px;
	}
	nav li {
		display: inline-block;
		padding: 15px;

	}
	nav a {
		padding: 10px 15px;
		text-decoration: none;
	}
	nav .brand a {
		font-weight: bold;
	}
	nav a:link, nav a:visited {
		color: #999;
	}
	nav .brand a:link, nav .brand a:visited {
		color: #4cf;
	}
	nav a:hover, nav a:active, nav .brand a:hover, nav .brand a:active {
		color: #fff;
	}
footer {
	width: 85%;
	margin: 20px auto;
	padding: 10px;
	border-top: 1px solid silver;
	text-align: center;
	font-size: 12px;
}
.horizontal-line {
	width: 85%;
	margin: 0 auto;
	border-bottom: 1px solid silver;

}
.hideme_link, .showme_link {
	font-size: 0.80em;
}
.showme_link {
	display: none;
}

/*************************************************************/
/************** SMALL SCREEN LAYOUT ADJUSTMENTS **************/

@media (max-width : 600px) {

nav li {
	display: block;
	/*border-top: 1px solid silver;*/
	border-bottom: 1px solid silver;
	/*padding-left: 40px;*/
}
.nav-spacer {
	min-height: 160px;
}
#summary {
	width: 100%;
}

}
/*************************************************************/
/************** LARGE SCREEN LAYOUT ADJUSTMENTS **************/

@media (min-width : 601px) {	

.nav-spacer {
	min-height: 53px;
}
#summary {
	width: 70%;
}

}