#sidebar {
	vertical-align: top;
	min-width: 200px;
	padding-right:5px;
	font-size: 0.85em;
}
	#sidebar ul {
		margin: 5px 15px 15px 15px;
		list-style: none;
	}
	#sidebar li a {
		font-weight: bold;
	}
	#sidebar li > .tag {
		margin: 2px;
		padding: 5px;
		display: inline-block;
		border-radius: 10px;
		text-decoration: none;
	}
	#sidebar #tag_match_radio input {
		margin: 0 3px 5px 20px;
	}
	#sidebar .selected {
		color: #4cf;
		background-color: black;
		border: 1px solid black;
	}
	#sidebar .deselected {
	  	color: black;
	  	background-color: #eaeaea;
		border: 1px solid silver;
	}
#content {
}
	#content #desc_checkboxes input {
		margin: 0 2px 0 12px;
	}
	#content > ul {
		margin: 5px;
		list-style: none;
	}
	#content .project {
		padding: 5px;
		border-top: 1px solid silver;
	}
	#content .project > img {
		display: inline-block;
		vertical-align: top;
		margin: 10px 0;
		/*border: 3px solid black;*/
		/*border-radius: 3px;*/
	}
	#content .project_body {
		width: 100%;
		padding: 5px;
		display: inline-block;
	}
	#content .project .project_bullets ul {
		padding-left: 15px;
		list-style: disc;
	}
	#content .project.expanded > img {
		/*width: 25%;*/
	    -webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
		transition: width 0.4s, height 0.4s, transform 0.4s;
	}
	#content .project.expanded .project_body {
		/*width: 70%;*/
	    -webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
		transition: width 0.4s, height 0.4s, transform 0.4s;
	}
	#content .project.collapsed > img {
		/*width: 15%;*/
	    -webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
		transition: width 0.4s, height 0.4s, transform 0.4s;
	}
	#content .project.collapsed .project_body {
		/*width: 80%;*/
	    -webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
		transition: width 0.4s, height 0.4s, transform 0.4s;
	}
	#content .project h2 img {
		max-height: 25px;
		max-width: 25px;
		margin: 0 5px;
	}
	#content .project_arrow {
		display: inline-block;
		vertical-align: top;
		width: 20px;
	}
	#content .project_bullets {
		display: inline-block;
		vertical-align: top;
		width: 90%;
		margin-left: 10px;
	}
	#content .taglist {
		font-style: italic;
		margin: 5px 0;
	}
	#content .technologies {
		font-style: italic;
	}

/*************************************************************/
/************** SMALL SCREEN LAYOUT ADJUSTMENTS **************/

@media (max-width : 750px) {
	
#sidebar {
	display: block;
	width: 100%;
}
#sidebar .matches_heading, #sidebar .matches_listing {
	display:none;
}
#content {
	display: block;
	width: 100%;
}
	#content .project > img {
		border: none;
	}
	#content .project.expanded > img {
		width: 25%;
	}
	#content .project.expanded .project_body {
		width: 70%;
	}
	#content .project.collapsed > img {
		width: 0%;
	}
	#content .project.collapsed .project_body {
		width: 100%;
	}

}
/*************************************************************/
/************** LARGE SCREEN LAYOUT ADJUSTMENTS **************/

@media (min-width : 751px) {	

#sidebar {
	display: inline-block;
	width: 25%;
}
#content {
	display: inline-block;
	width: 70%;
}
	#content .project > img {
		border: 3px solid black;
		border-radius: 3px;
	}
	#content .project.expanded > img {
		width: 25%;
	}
	#content .project.expanded .project_body {
		width: 70%;
	}
	#content .project.collapsed > img {
		width: 15%;
	}
	#content .project.collapsed .project_body {
		width: 80%;
	}

}