#sidebar {
	vertical-align: top;
	padding-right:5px;
	font-size: 0.85em;
}
	#sidebar ul {
		margin: 5px 15px 15px 15px;
		list-style: none;
	}
	#sidebar li a {
		font-weight: bold;
	}
	#sidebar li > .tag {
		margin: 2px;
		padding: 5px;
		display: inline-block;
		border-radius: 10px;
		text-decoration: none;
	}
	#sidebar #tag_match_radio input {
		margin: 0 3px 5px 20px;
	}
	#sidebar .selected {
		color: #4cf;
		background-color: black;
		border: 1px solid black;
	}
	#sidebar .deselected {
	  	color: black;
	  	background-color: #eaeaea;
		border: 1px solid silver;
	}
#content {
	display: inline-block;
	width: 60%;
}
	#content > ul {
		margin: 5px;
		list-style: none;
	}
	#content .project {
		padding: 5px;
		border-top: 1px solid silver;
	}
	#content .project > img {
		display: inline-block;
		vertical-align: top;
		margin: 10px 0;
		border: 3px solid black;
		border-radius: 3px;
	}
	#content .project_body {
		padding: 5px;
		display: inline-block;
	}
	#content .project.expanded > img {
		width: 25%;
	    -webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
		transition: width 0.4s, height 0.4s, transform 0.4s;
	}
	#content .project.expanded .project_body {
		width: 70%;
	    -webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
		transition: width 0.4s, height 0.4s, transform 0.4s;
	}
	#content .project.collapsed > img {
		width: 15%;
	    -webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
		transition: width 0.4s, height 0.4s, transform 0.4s;
	}
	#content .project.collapsed .project_body {
		width: 80%;
	    -webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s;
		transition: width 0.4s, height 0.4s, transform 0.4s;
	}
	#content .project h2 img {
		max-height: 25px;
		max-width: 25px;
		margin: 0 5px;
	}
	#content .project_arrow {
		display: inline-block;
		vertical-align: top;
		width: 20px;
	}
	#content .project_bullets {
		display: inline-block;
		vertical-align: top;
		width: 90%;
		margin-left: 10px;
	}
	#content .taglist {
		font-style: italic;
		margin: 5px 0;
	}
	
/*************************************************************/
/************** SMALL SCREEN LAYOUT ADJUSTMENTS **************/

@media (max-width : 600px) {
	
#sidebar {
	display: block;
	width: 100%;
}
#sidebar .matches_heading, #sidebar .matches_listing {
	display:none;
}

}
/*************************************************************/
/************** LARGE SCREEN LAYOUT ADJUSTMENTS **************/

@media (min-width : 601px) {	

#sidebar {
	display: inline-block;
	width: 30%;
}

}